body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: lightcyan;
   color: #003349;
   font-size: 2.7vh;
  }
 
img {
   width: 20vw;
   float: left;
   margin-right: 2vw;
  }

.jumbotron {
   background-color: #84CfD1;
   color: #003349;
  }

.emph {
  font-variant: small-caps;
  font-weight: bold;
  }

.cSharp, .ruby, .python {
  display: none;
  position: absolute;
  width: 40vw;
  left: 50%;
  transform: translate(-50%);
  }

.sorry {
  display: none;
  color: darkred;
}

.joke1, .joke2, .joke3 {
  display: none;
  padding: 2vh;
  margin-bottom: 4vh;
  position: fixed;
  width: 40vw;
  left: 50%;
  transform: translate(-50%);
  }

.jokeblue {
  background-color: darkcyan;
}
  
.jokeyellow {
  background-color: #FFF6b5;
}

.jokeorange {
  background-color: #FFE0b5;
}

#progSurvey {
  background-color: lightblue;
  padding: 2vw;
  margin-bottom: 4vh;
  position: absolute;
  width: 40vw;
  left: 50%;
  transform: translate(-50%);
}

#intro {
  padding-left: 4vw;
  padding-right: 4vw;
}