body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: lightcyan;
   color: #003349;
   font-size: 2.7vh;
  }
 
img {
   width: 20vw;
   float: left;
   margin-right: 2vw;
  }

.jumbotron {
   background-color: #84CfD1;
   color: #003349;
  }

.emph {
  font-variant: small-caps;
  font-weight: bold;
  }

#survey {
 
  }

#cSharp {
  display: ;
  }

#ruby {
  display: none;
  }

#python {
  display: none;
  }