 body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: lightcyan;
   color: #003349;
   font-size: 3vh;
 }
 
 img {
   width: 20vw;
 }

 .jumbotron {
   background-color: #84CfD1;
   color: #003349;
 }

.emph {
  font-variant: small-caps;
  font-weight: bold;
}

#survey {
  width: 40vw;
}

#cSharp {
  display: none;
}

#ruby {
  
}

#python {
  display:none;
}